@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.app-app {
  margin-top: 40px;
}

.pull-right {
  float: right;
}

main {
  width: 100%;
}

.table tr td {
  padding: 2.1px;
}

.btn .caret {
  display: none;
}

.btn-group {
  display: grid;
  margin-top: 3px;
}

.thumbnail {
  padding: 0px;
}

.panel {
  position: relative;
}

.panel > .panel-heading:after,
.panel > .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.panel > .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px;
}

.panel > .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}

#app .navbar-brand img {
  width: 30%;
  max-width: 100%;
  height: auto;
  margin: auto;
  vertical-align: middle;
}

#app .main-panel {
  width: 100%;
}

.collapse.in {
  display: block;
}

.collapsed {
  display: none;
}

